{block content}
<div class="row">
    <div class="col-11">
        <div class="display-5">New Origin</div>
    </div>
    <div class="col-1">
        <a n:href="Origin:default" class="btn btn-sm btn-success"><span class="fa fa-fw fa-list"></span> Origin list</a>
    </div>
</div>
{control originEditForm}