{block content}
<div class="row">
    <div class="col-11">
        <div class="display-5">Origin List</div>
    </div>
    <div class="col-1">
        <a n:href="Origin:add" class="btn btn-sm btn-success"><span class="fa fa-fw fa-plus"></span> New Origin</a>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
        {control originGrid}
    </div>
</div>