.header-logo {
    background-color: #006666;
    color: white;
    padding: 16px;
    font-size: 2rem;
    margin-bottom: 0;
}

.display-4 {
    font-size: 2.5rem;
}

.display-4 a {
    color: white;
}

.display-4 a:hover {
    text-decoration: none;
}

.display-4 a:active {
    color: white;
}

.display-4 a:visited {
    color: white;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.content {
    margin: 32px 64px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height + margin */
    margin-bottom: 96px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 64px;
    padding: 8px;
    background-color: #003366;
    color: rgba(255, 255, 255, .5);
}

.search-options .form-group.row {
    margin-bottom: 0.5rem;
}

.navbar.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 0;
}

.pagination-header {
    margin-bottom: 0;
    margin-top: 1rem;
}

.pagination-header ul {
    margin-bottom: 0;
}

.linefound {
    font-weight: bold;
}

.found {
    font-weight: bold;
    color: #003366;
}

.page-link {
    color: #003366;
}

.page-item.active .page-link {
    background-color: #003366;
    border-color: #003366;
}

.nav .nav-item a {
    color: #003366;
}

ul.nav {
    background-color: #e5e5e5;
    padding: 0 1rem;
}

li.nav-item .active{
    background-color: #003366;
    border-color: #003366;
    color: #FAFAFA;
}