{block content}
    <div class="row">
        <div class="col-10">
            <div class="display-5">Search in texts - Results</div>
        </div>
        <div class="col-2 text-right my-auto">
            <a n:href="Transliteration:search" class="btn btn-sm btn-success"></span> Edit Search Criteria</a>
        </div>
    </div>


    {control transliterationSearchResultList}
{/block}