{block content}
<div class="row">
    <div class="col-11">
        <div class="display-5">Edit Book Type</div>
    </div>
    <div class="col-1">
        <a n:href="BookType:default" class="btn btn-sm btn-success"><span class="fa fa-fw fa-list"></span> Book Type list</a>
    </div>
</div>
{control bookTypeEditForm}