{block content}
<div class="row">
    <div class="col-10">
        <div class="display-5">Edit Book</div>
    </div>
    <div class="col-2 text-right">
        <a n:href="Book:default" class="btn btn-sm btn-success"><span class="fa fa-fw fa-list"></span> Book list</a>
        <a n:href="Book:delete $id" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete this book?')"><span class="fa fa-fw fa-trash"></span> Delete book</a>
    </div>
</div>
{control bookEditForm}