services:
    # Gridy
    - App\FrontModule\Components\IExampleGirdFactory
    - App\AdminModule\Components\IUserGridFactory
    - App\AdminModule\Components\IMuseumGridFactory
    - App\AdminModule\Components\IObjectTypeGridFactory
    - App\AdminModule\Components\IOriginGridFactory
    - App\AdminModule\Components\ISurfaceTypeGridFactory
    - App\AdminModule\Components\IBookTypeGridFactory
    - App\AdminModule\Components\IBookGridFactory
    - App\AdminModule\Components\ITransliterationGridFactory

    # Formuláře
    - App\FrontModule\Components\ILoginFormFactory
    - App\AdminModule\Components\IUserEditFormFactory
    - App\FrontModule\Components\ITransliterationSearchFormFactory
    - App\AdminModule\Components\IObjectTypeEditFormFactory
    - App\AdminModule\Components\IOriginEditFormFactory
    - App\AdminModule\Components\ISurfaceTypeEditFormFactory
    - App\AdminModule\Components\IMuseumEditFormFactory
    - App\AdminModule\Components\IBookTypeEditFormFactory
    - App\AdminModule\Components\IBookEditFormFactory
    - App\AdminModule\Components\ITransliterationEditFormFactory

    - App\FrontModule\Components\IKeyboard
    - App\FrontModule\Components\ITransliterationSearchResultListFactory