services:
    # Gridy
    - App\FrontModule\Components\IExampleGirdFactory
    - App\AdminModule\Components\IUserGridFactory
    - App\AdminModule\Components\IMuseumGridFactory

    # Formuláře
    - App\FrontModule\Components\ILoginFormFactory
    - App\AdminModule\Components\IUserEditFormFactory
    - App\AdminModule\Components\IMuseumEditFormFactory