services:
    - App\Model\Repository\Repository
    - App\Model\Repository\BookRepository
    - App\Model\Repository\BookTypeRepository
    - App\Model\Repository\LineRepository
    - App\Model\Repository\LitReferenceRepository
    - App\Model\Repository\MuseumRepository
    - App\Model\Repository\ObjectTypeRepository
    - App\Model\Repository\OriginRepository
    - App\Model\Repository\RoleRepository
    - App\Model\Repository\RevHistoryRepository
    - App\Model\Repository\SurfaceRepository
    - App\Model\Repository\SurfaceTypeRepository
    - App\Model\Repository\TransliterationRepository
    - App\Model\Repository\UserLogRepository
    - App\Model\Repository\UserRepository
    - App\Model\Repository\UserRoleRepository

    - App\Model\Facade\UserFacade