{block content}
<div class="row">
    <div class="col-11">
        <h4>New Museum</h4>
    </div>
    <div class="col-1">
        <a n:href="Museum:default" class="btn btn-sm btn-success"><span class="fa fa-fw fa-list"></span> Museum list</a>
    </div>
</div>
{control museumEditForm}