<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /nobtc/
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ cake-index.php?url=$1 [QSA,L]
	RewriteRule   ^$ pages/index               [R]
</IfModule>
