.header-logo {
    background-color: #006666;
    color: white;
    padding: 16px;
    font-size: 2rem;
    margin-bottom: 0;
}

.display-4 {
    font-size: 2.5rem;
}

.display-4 a {
    color: white;
}

.display-4 a:hover {
    text-decoration: none;
}

.display-4 a:active {
    color: white;
}

.display-4 a:visited {
    color: white;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.content {
    margin: 32px 64px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height + margin */
    margin-bottom: 96px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 64px;
    padding: 8px;
    background-color: #003366;
    color: rgba(255,255,255,.5);
}

.navbar.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 0;
}