{block content}
    <div class="row">
        <div class="col-10">
            <div class="display-5">Edit Surface Type</div>
        </div>
        <div class="col-2 text-right">
            <a n:href="Surface:default" class="btn btn-sm btn-success"><span class="fa fa-fw fa-list"></span> Surface Types</a>
        </div>
    </div>
    {control surfaceTypeEditForm}
{/block}