{block content}
<div class="row">
    <div class="col-11">
        <h4>Administrace - Editace uživatele</h4>
    </div>
    <div class="col-1">
        <a n:href="User:default" class="btn btn-sm btn-success"><span class="fa fa-fw fa-list"></span> Seznam uživatelů</a>
    </div>
</div>
{control userEditForm}