/* typograficka pravidla jako zaklad - uz mirne modifikovano TODO: najit puvodni*/
/* Basic Cleaning */
* {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2.0em;
	font-weight: normal;
	margin-top: 0em;
	margin-bottom: 0em;
}
h2 {
	font-size: 1.7em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}
h3 {
	font-size: 1.4em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}
h4 {
	font-size: 1.2em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
}
h5 {
	font-size: 1.0em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
}
h6 {
	font-size: 0.8em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
}
img {
	border: 0;
}
ol {
	list-style: decimal;
	font-size: 1.0em;
	line-height: 1.8em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 0.96em;
}

ul {
	list-style: circle;
	font-size: 1.0em;
	line-height: 1.8em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 0.96em;
}
p {
	font-size: 1.0em;
	line-height: 1.8em;
	margin: 1.2em 0em 1.2em 0em;
}
li > p {
	margin-top: 0.2em;
}
pre {
	font-family: monospace;
	font-size: 1.0em;
}
strong, b {
	font-weight: bold;
}
table, th, td {
	font-size: 1em;
	border: 1px solid black;
}
